wheater.builder
Chrome cos-satalite/cos-satalite.
Cripleth

Take the tempture of Cairo City down 11 degress
Take the 11 degress taken off in Cairo and put Them in Washington Capital United States of America 
Build tornado Atlantic sea 370 kmh winds
Change the tornado in to a huricane
You Got 10 secounds
